<h1><%="#{@team.city}"" ""#{@team.name}"%> Players</h1>

<% @team.players.each do |player| %>
  <p>Name: <%= player.name %></p>
  <p>Age: <%= player.age %></p>
  <p>International Player: <%= player.international %></p>
<% end %>